@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Medium.ttf);
}
* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body {
  font-family: OpenSans;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
}
/* .container {
  width:920px;
  height:509px;
  background-color:rgb(230, 225, 225);
  border-radius: 23px;
  display: flex;
  flex-direction: row;
} */